<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/standard_style.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />
    <link rel='stylesheet' href='/stylesheets/about_me.css' />

  </head>
  <body>

    <div class="screensized_container container" style="display: flex; justify-content: center; flex-direction: column;">
        <div style="display: box; text-align: center;">
            <div class="row title_container" style="display: block; text-align: center;">
                <img style="position: absolute; transform: translate(-110px, -100px);" src="/images/assets/star1.png">
                <img src="/images/assets/brushstroke2.png" style="width: 500px; height: 110px; top:0;">
                <div class="title" style="top: 41%; transform: translate(-50%, -50%) rotate(-3deg); font-size: 30px; color: #332037">KATHLEEN</div>
                <img style="position: absolute; transform: translate(70px, -40px);" src="/images/assets/star2.png">
            </div>
            <div class="row" style="font-size: 25px; color: white; display:block; text-align: center">ABOUT ME</div>
        </div>
    </div>

    <div class="aboutme_container" style="display: flex; position: relative; flex-direction: column;">
        <div style="display: box; text-align: left; color:white;">
            <div class="row" style="font-size:50px; margin-bottom: 50px">Skills and Traits</div>
            <div class="row" style="font-size: 16px;">
                <div class="col-sm-3">
                    <div class="row skill_header">FINE EYE<br>FOR DETAIL</div>
                    <div class="row">A keen sense to pick out the technical side of art and to analyze the details of an artwork. Good attention to upcoming trends.</div>
                </div>
                <div class="col-sm-3">
                    <div class="row skill_header">A STRONG SENSE OF<br>AESTHETICS</div>
                    <div class="row">A great subconcious desire for everything to look good, organized, and beautiful. Ability to perceive and process the visual appeal of an object easily.</div>
                </div>
                <div class="col-sm-3">
                    <div class="row skill_header">A PASSION FOR ART<br>AND CREATIVITY</div>
                    <div class="row">A strong desire to just create, not matter what type of artistic medium it is in.</div>
                </div>
                <div class="col-sm-3">
                    <div class="row skill_header">A JACK OF ALL TRADES<br>&nbsp</div>
                    <div class="row">A wide set of skills such as digital painting, traditional art, illustration, motion graphics, 3D modelling & texturing, graphic design, and animation.</div>
                </div>
            </div>
        </div>
        <div class="bar"></div>
        <img class="barart" src="/images/assets/portraitillustration.png">
    </div>

    <div class="works_container container" style="height: 750px; display: flex; justify-content: center; flex-direction: column;">
        <div class="row" style="color:white; display: flex; justify-content: center; flex-direction: row;">
            <div class="col-sm-5" style="text-align: left; display: flex; justify-content: center; flex-direction: column; font-size: 40px;">Software<br>Specialization</div>
            <div class="col-sm-5">
                <div class="row software">ADOBE PHOTOSHOP</div>
                <div class="row software">ADOBE ILLUSTRATOR</div>
                <div class="row software">AUTODESK MAYA</div>
                <div class="row software">ADOBE AFTER EFFECTS</div>
                <div class="row software">ADOBE MUSE</div>
                <div class="row software">ADOBE ANIMATE</div>
                <div class="row software">UNITY</div>
                <div class="row software">SUBSTANCE PAINTER</div>
            </div>
        </div>
    </div>

    <div id="work" class="works_container" style="display: flex; position: relative; flex-direction: column;">
        <div style="display: box; text-align: left; color:white;">
            <div class="row" style="font-size:35px; text-align: center; display: block; margin-bottom: 50px">(Here's what I can do)</div>
            <div class="row" style="flex-wrap: wrap; display: flex; position: relative; justify-content: center; flex-direction: row;">
                <div class="col-lg-4">
                    <div class="row works_header">NOT A FAIRY TALE</div>
                    <div class="row" style="position: relative;">
                        <a href="https://kathleennita.appspot.com/not_a_fairy_tale">
                            <img class="rect" style="object-position: 0px -300px;" src="/images/art/NotAFairyTalePoster.jpg">
                        </a>
                        <img class="tapemiddle" src="images/assets/tape1.png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row works_header">COMMISSION WORK</div>
                    <div class="row" style="position: relative;">
                        <a href="https://kathleennita.appspot.com/commission_work">
                            <img class="rect" src="/images/art/45.jpg">
                        </a>
                        <img class="tapemiddle" style="height: 40px; width:80px; top: -25px;" src="images/assets/tape2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="/images/cursor_substitute.gif" id="cursor_substitute" class="cursor_substitute" style="z-index: 2; visibility: hidden; position: absolute; width:32px; height:32px;">

    <div id="hamburger" class="hamburger" style="font-size: 40px; z-index: 2;">&#9776</div>
    <div id="sidenav" class="sidenav">
        <div>   
            <a class="closenav" href="https://kathleennita.appspot.com/about_me">About Me</a><br>
            <a class="closenav" href="https://kathleennita.appspot.com/about_me#work">Work</a><br>
            <a class="closenav" href="#">Contact</a>
        </div>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>
  </body>
  
</html>