<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/standard_style.css' />
    <link rel='stylesheet' href='/stylesheets/commission_work.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />

  </head>
  <body>
    <div class="title_container" style="text-align: center">
      <img src="/images/assets/tornpage.png" style="height:27vh; top:0;">
      <div class="title" style="top:57%; font-size: 3vh;">Commission Work</div>
    </div>

    <div class="container" style="justify-content: center; display: flex; color: white; font-size: 16px; width: 700px; text-align: center; margin-bottom: 60px;">
      In late 2017, I picked up digital art as a hobby and managed to garner an online presence with my account KalicoDraws. I do commissions based on the client's request, which mostly consists of fan art and portraits.
    </div>

    <img src="/images/cursor_substitute.gif" id="cursor_substitute" class="cursor_substitute">

    <!-- Polaroids -->
    <div class="container" style="justify-content: center; display: flex;">
      <div class="row">
        <div class="col-sm-3 polaroid_col">
          <div class = "row polaroid post">
            <img class="tapeleft" src="images/assets/tape3.png">
            <img class="art zoom" src="/images/art/45.jpg">
            <span class="caption"></span>
          </div>
          <div class = "row polaroid post">
            <img class="art zoom" src="/images/art/ela without lineart.jpg">
            <span class="caption"></span>
          </div>
        </div>

        <div class="col-sm-3 polaroid_col">
          <div class = "row polaroid post">
            <img class="art zoom" src="/images/art/mann.jpg">
            <span class="caption"></span>
          </div>
          <div class = "row polaroid post">
            <img class="art zoom" src="/images/art/dokkiandvigil5.jpg">
            <span class="caption"></span>
          </div>
        </div>

        <div class="col-sm-3 polaroid_col">
          <div class = "row polaroid post">
            <img class="taperight" src="images/assets/tape4.png">
            <img class="art zoom" src="/images/art/Riven.jpg">
            <span class="caption"></span>
          </div>
          <div class = "row polaroid post">
              <img class="art zoom" src="/images/art/IMG_20170620_145102_712.jpg">
              <span class="caption"></span>
            </div>
        </div>
      </div>
    </div>

    <!-- ASA ESA -->
    <div class="commission_container" style="display: flex; justify-content: center; flex-direction: row;">
      <div style="height: 550px; width: 800px; position: relative;">
        <img class="landscape-4" style="right: 80px; top: 0px; position: absolute; " src="/images/art/Main Page.jpg">
        <img class="landscape-4" style="right: 0px; top: 275px; position: absolute;" src="/images/art/smartcity1-2.jpg">
        <p style="color: white; font-size: 14px; text-align: center; left: 50px; top: 365px; position: absolute; width: 280px; height: 100px;">
          On the 9th of August 2019, I was commissioned by Sarawak Multimedia Authority to create a presentation slide on their exhibition for their Smart City Intiative.
        </p>
        <div class="title_container" style="z-index: 1; left: 0px; top: 220px; position: absolute; width: 490px; height: 100px;">
          <img style="width: 100%; height: 100%;" src="/images/assets/brushstroke1.png">
          <div class="title" style="width: 100%; font-size: 19px;">SMA in collaboration with ASA ESA</div>
        </div>
      </div>
    </div>

    <div id="hamburger" class="hamburger" style="font-size: 40px; z-index: 2;">&#9776</div>
    <div id="sidenav" class="sidenav">
        <div>   
            <a class="closenav" href="https://kathleennita.appspot.com/about_me">About Me</a><br>
            <a class="closenav" href="https://kathleennita.appspot.com/about_me#work">Work</a><br>
            <a class="closenav" href="https://kathleennita.appspot.com/contact">Contact</a>
        </div>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>
  </body>
  
</html>

