<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/standard_style.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />
    <link rel='stylesheet' href='/stylesheets/about_me.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <script src="/javascripts/fadeIn_animation.js"></script>

  </head>
  <body>
    <div class="works_container container" style="height: 750px; display: flex; justify-content: center; flex-direction: column;">
        <div class="row" style="color:white; display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
            <div class="col-sm-5" style=" display: flex; justify-content: center; flex-direction: column; font-size: 40px;">
                <!-- <div style="text-align: center; color: black; background-color: white; ">
                    Find me on<br>social!
                </div> -->
                <div style="position: relative;">
                    <div style="text-align: center; color: black; background-color: white; font-size: 35px;width: 300px; height: 181px; display: flex; justify-content: center; flex-direction: column;">
                        Find me on<br>social!
                    </div>
                    <img class="tapemiddle" style="left:90px" src="images/assets/tape2.png">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 30px">
                <div class="row software socialrow">
                    <img class="social" src="/images/assets/fb.png">FACEBOOK<br>@kathleennitters
                </div>
                <div class="row software socialrow">
                    <img class="social" src="/images/assets/instagram.png">INSTAGRAM<br>@kalicodraws
                </div>
                <div class="row software socialrow">
                    <img class="social" src="/images/assets/flickr.png">FLICKR<br>@kathleennita
                </div>
                <div class="row software socialrow">
                    <img class="social" src="/images/assets/linkedin.png">LINKEDIN<br>@kathleennita
                </div>
            </div>
        </div>
    </div>

    <img src="/images/cursor_substitute.gif" id="cursor_substitute" class="cursor_substitute">

    <div id="hamburger" class="hamburger" style="font-size: 40px; z-index: 2;">&#9776</div>
    <div id="sidenav" class="sidenav">
        <div>   
            <a class="closenav" href="https://kathleennita.appspot.com/about_me">About Me</a><br>
            <a class="closenav" href="https://kathleennita.appspot.com/about_me#work">Work</a><br>
            <a class="closenav" href="https://kathleennita.appspot.com/contact">Contact</a>
        </div>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>
  </body>
  
</html>