<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/standard_style.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />

  </head>
  <body>
  <div>
    <div class="screensized_container container" style="max-width: 1080px;">
      <div style="position: relative;">
        <img class="" style="right: 3%; top: 145px; position: absolute; " src="/images/assets/homepagepolaroid.png">
        <img class="" style="height: 300px; transform: rotate(3deg); right: 5%; top: 220px; position: absolute; " src="/images/assets/profile.png">
        <div class="title_container" style="z-index: 1; right: 45%; top: 300px; position: absolute; width: 50%; height: 100px;">
          <img style="width: 100%; height: 100%;" src="/images/assets/brushstroke1.png">
          <div class="title" style="line-height: 25px; width: 100%; font-size: 26px; top: 55%;">
            <a style="color:black;" href="http://localhost:3000/about_me">Kathleen Nita</a><br>
            <span style="font-size: 13px;">WELCOME TO MY PORTFOILO</span>
          </div>
        </div>
      </div>
    </div>
  <div>

    <div class="hamburger">&#9776</div>
    <div id="sidenav_trigger" class="sidenav_trigger"></div>
    <div id="sidenav" class="sidenav" style="z-index: 10;">
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
      <a href="http://localhost:3000/about_me">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>

    <!-- Pre-Loaders -->
    <!-- <div style="z-index: 2;" id="loader_wrapper1" class="loader_wrapper">
      <span class="loader"></span>
    </div>

    <div style="z-index: 1;" id="loader_wrapper2" class="loader_wrapper">

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list1" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">Wha</li>
          </ul>
        </div>
      </div>

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list2" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">du</li>
          </ul>
        </div>
      </div>

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list3" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">hek</li>
          </ul>
        </div>
      </div>
    </div> -->

    <script type="text/javascript" src="/javascripts/preloaders.js"></script>
  </body>
  
</html>

