<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />

  </head>
  <body>
    <!-- <h1 style="text-align: center;">Concept Art</h1> -->
    <!-- <p>Welcome to <%= title %></p> -->

    <div class="title_container" style="text-align: center">
      <img src="/images/assets/brushstroke1.png" height:100%; top:0;>
      <div class="title">Concept Art</div>
    </div>

    <!-- <div id="cursor_container" class="cursor_container art"></div> -->
    <img src="/images/cursor_substitute.gif" id="cursor_substitute" class="cursor_substitute" style="z-index: 2; visibility: hidden; position: absolute; width:32px; height:32px;">

    <div class="container" style="justify-content: center; display: flex;">
      <div class="row">
        <div class="col-sm-4">
          <div class = "row post">
            <img class="tapeleft" src="images/assets/tape3.png">
            <img class="art" src="/images/art/portrait.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/campsite.jpg">
            <span class="caption">Caption</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class = "row post">
            <img class="art" src="/images/art/chibi asha colored.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/chibi asha.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/models2.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/bridge.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/corvus.jpg">
            <span class="caption">Caption</span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class = "row post">
            <img class="taperight" src="images/assets/tape4.png">
            <img class="art" src="/images/art/dark woods.jpg">
            <span class="caption">Caption</span>
          </div>
          <div class = "row post">
              <img class="art" src="/images/placeholder3.jpg">
              <span class="caption">Caption</span>
            </div>
        </div>
      </div>
    </div>

    <div class="hamburger">&#9776</div>
    <div id="sidenav_trigger" class="sidenav_trigger"></div>
    <div id="sidenav" class="sidenav">
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>

    <!-- Pre-Loaders -->
    <!-- <div style="z-index: 2;" id="loader_wrapper1" class="loader_wrapper">
      <span class="loader"></span>
    </div>

    <div style="z-index: 1;" id="loader_wrapper2" class="loader_wrapper">

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list1" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">Wha</li>
          </ul>
        </div>
      </div>

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list2" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">du</li>
          </ul>
        </div>
      </div>

      <div class="content floating_text">
        <div class="content__container">
          <ul id="content__container__list3" class="content__container__list">
            <li class="content__container__list__item">&nbsp</li>
            <li class="content__container__list__item">hek</li>
          </ul>
        </div>
      </div>
    </div> -->

    <script type="text/javascript" src="/javascripts/preloaders.js"></script>
  </body>
  
</html>

