<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/not a fairy tale.css' />
    <link rel='stylesheet' href='/stylesheets/text_animation.css' />

  </head>
  <body>
    <div class="screensized_container" style="justify-content: center; display: flex;">
      <div style="justify-content: center; display: flex; flex-direction: column; text-align: center;">
        <div class="title_container" style="margin-bottom:0;">
          <img class="asset" style="width: 35vw;" src="/images/assets/tornpage.png">
          <div class="title" style="top:60%; font-size: 2vw;">Not&nbsp;A&nbsp;Fairy&nbsp;Tale</div>
        </div>
        <span style="font-size: 70%; color: white;">A game about the perspective of a child<br>stuck in the institute</span>
      </div>
      <div style=" justify-content: center; display: flex;">
        <img class="asset" style="max-width: 25vw; transform: rotate(3deg);" src="/images/art/NotAFairyTalePoster.jpg">
      </div>
    </div>

    <div class="title_container" style="text-align: center;">
      <img src="/images/assets/brushstroke1.png" height:100%; top:0;>
      <div class="title">Concept Art</div>
    </div>

    <!-- <div id="cursor_container" class="cursor_container art"></div> -->
    <img src="/images/cursor_substitute.gif" id="cursor_substitute" class="cursor_substitute" style="z-index: 2; visibility: hidden; position: absolute; width:32px; height:32px;">

    <div class="container" style="justify-content: center; display: flex;">
      <div class="row">
        <div class="col-sm-3">
          <div class = "row post">
            <img class="tapeleft" src="images/assets/tape3.png">
            <img class="art" src="/images/art/portrait.jpg">
            
          </div>
          <div class = "row post">
            <img class="art" src="/images/art/campsite.jpg">
            
          </div>
        </div>

        <div class="col-sm-5">
          <div class = "row post">
            <img class="landscape art" src="/images/art/chibi asha colored.jpg">
            
          </div>
          <div class = "row post">
            <img class="landscape art" src="/images/art/chibi asha.jpg">
            
          </div>
          <div class = "row post">
            <img class="landscape art" src="/images/art/models2.jpg">
            
          </div>
          <div class = "row post">
            <img class="landscape art" src="/images/art/bridge.jpg">
            
          </div>
          <div class = "row post">
            <img class="landscape art" src="/images/art/corvus.jpg">
            
          </div>
        </div>

        <div class="col-sm-3">
          <div class = "row post">
            <img class="taperight" src="images/assets/tape4.png">
            <img class="art" src="/images/art/dark woods.jpg">
            
          </div>
        </div>
      </div>
    </div>

    <div class="hamburger">&#9776</div>
    <div id="sidenav_trigger" class="sidenav_trigger"></div>
    <div id="sidenav" class="sidenav">
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
    <script type="text/javascript" src="/javascripts/sidenav.js"></script>
    <script type="text/javascript" src="/javascripts/cursor_animations.js"></script>
  </body>
  
</html>