.art {
    display: block;
    max-width:20vw;
    height: auto;
    object-fit: contain;
    cursor: none;
}

.post{
    display: inline-block;
    background-color:white;
    /* background-image: url("/images/assets/polaroid.png");
    background-size: cover; */
    margin-bottom: 5px;
  }